@import url(http://db.onlinewebfonts.com/c/df597c648fcebcf41efc459799282b7f?family=Athelas);
.icon{
    width: 24px;
    height: 24px;
    /*color: rgb(26,83,137);
    color: rgb(224,43,62);
    color: white;
    font-family: Athelas;*/
}

.words{
    font-family: Athelas;
    font-size: large;
}

.excel{
    background: none;
        border: none;
        padding: 0;
        cursor: pointer;
    background-image:url('../img/excel_48.png');
    width: 48px;
    height: 48px;
    align-self: flex-end;
    
}

.div-superior{
    border: 5px outset rgb(224,43,62);
  background-color: rgb(26,83,137);    
}